extends layout

block content
  if mensagem
    if sucesso       
      .alert.alert-success=mensagem
    else
      .alert.alert-danger=mensagem
    
  img(src=termo.multimidia[0].url, alt=' ')
  p.text-center=termo.emPortugues
  p.text-center=termo.emTerena
  p.text-center=termo.categoria      
    
  script(src='/javascripts/cadastrotermo.js')
        

