extends layout

block content
  if mensagem
    if sucesso       
      .alert.alert-success=mensagem
    else
      .alert.alert-danger=mensagem
    
  img(id="imagem" style="width: 400px; height: 400px"
   src=termo.multimidia[0].url, alt=' ')
  p.text-center=termo.emPortugues
  p.text-center=termo.emTerena
  p.text-center=termo.categoria     
  if termo.multimidia.length > 1
    #midia= termo.multimidia[1].url
    #listaVideos
      
    script(src='/javascripts/cadastrotermo.js') 
        

