extends layout

block content
  if mensagem
    if sucesso       
      .alert.alert-success=mensagem
    else
      .alert.alert-danger=mensagem
    
  img(src=termo.multimidia[0].url, alt=' ')
  p.text-center=termo.emPortugues
  p.text-center=termo.emTerena
  p.text-center=termo.categoria      
  <iframe width="420" height="345" src="https://www.youtube.com/embed/XGSy3_Czz8k">
  </iframe>
      
  script(src='/javascripts/cadastrotermo.js') 
        

